<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link rel="Stylesheet" type="text/css" href="./style.css">
<link rel="Stylesheet" type="text/css" href="./style1.scss">
<script type="text/javascript" src="./Work.js"></script>
</head>
<body >
    <div>
        <table>
            <tr>
                <td id="two">V</td>
                <td id="logo" >oice</td>

                <td style="justify-content: center; text-align: center;">
                <nav id="menu">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Any</a></li>
                        <li><a href="#">Any</a></li>
                         </ul>
                    </nav>
                </td>
                <td>
                    <form>
                        <input type="button" value="Login/Signup"  id ="button"onclick="location.href='./Login.html'">
                    </form>
                </td>
                
            </tr>
        </table>
    </div>
    <br><br>
    <div >
        <p id="logo">Be your own voice</p><br><br>
        <p id="four">It is the platform where you can talk, understand <br>and explain the fact and many more things to  explore.</p>
       <br> <form>
       <input type="button" value="Know More" id= "button" onclick="location.href='./About.html'" >
        </form>
        <br><br><br>
        <br>
        <br>
        
        
    </div>
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
          
          <img src="./images/list1.jpg" style="width:100%">
          
        </div>
      
        <div class="mySlides fade">
          
          <img src="./images/list2.jpg" style="width:100%">
        </div>
      
        <div class="mySlides fade">
          
          <img src="./images/list3.jpg" style="width:100%">
          
        </div>
      
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br>
      
      <!-- The dots/circles -->
      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
      <aside  id="side">
       <img src="#">Type text here
       <img src="#">Type text here
       <img src="#">Type text here<br>
       <img src="#">Type text here<br>
       <img src="#">Type text here<br>
       <img src="#">Type text here<br>
       <img src="#">Type text here<br>
       <img src="#">Type text here<br>
       <img src="#">Type text here<br>
       <img src="#">Type text here<br>
       <img src="#">Type text here<br>
       <img src="#">Type text here<br>
       <img src="#">Type text here<br>
       <img src="#">Type text here<br>
       <img src="#">Type text here<br>
       <img src="#">Type text here<br>
       <img src="#">Type text here<br>
       <img src="#">Type text here<br>
       <img src="#">Type text here<br>
       <img src="#">Type text here<br>
       <img src="#">Type text here<br>
       <img src="#">Type text here<br>
       

      </aside>
      
   
</body>
</html>