<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <link rel="Stylesheet" type="text/css" href="./style.css">
    <link rel="Stylesheet" type="text/css" href="./style1.scss"
    </head>
    <body id="back">
        
        <form>
          Email/Phone:  <input type="text" placeholder="Enter your gmail/phone"  id="size"required><br><br>
          <br>
          Password:     <input type="password" required  id="size"><br><br><br>
          <input type="button" value="Login" id="button" >

        </form><br><br>

<p>
    New User? <a href="#">Sign up here</a>
</p>
    </body>
</html>